# Ignore temporary Emacs files
*~

#Ignore Eclipse directories
.settings
.project
.classpath

#Ignore Intellij files
*.iml
.idea

pom.xml
pom.xml.asc
*.jar
*.class
*.owl
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
